* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.square {
  background: #fff;
  border: 2px solid #333;
  float: left;
  font-size: 36px; /* Increased font size */
  font-weight: bold;
  line-height: 70px; /* Match height for vertical centering */
  height: 70px; /* Increased height */
  width: 70px; /* Increased width */
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  border-radius: 10px; /* Add border radius for rounded corners */
  transition: background 0.3s;
}

.square:hover {
  background-color: #f9f9f9;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #333;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-board {
  background: #fff;
  border: 2px solid #333;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.game-info {
  margin-left: 20px;
  font-size: 16px;
}
.play-again {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.play-again:hover {
  background-color: #333;
}
.play-again-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  margin-top: 20px; /* Adds some space above the button */
}
